/* These fontsizes are the same ones defined in the onedark.css theme */
/* The basefontsize represents the fontsize as the main font in onedark.css */
@basefontsize: 1em;
@fontsizeheading1: 2.5em;
@fontsizeheading2: 1.6em;
@fontsizeheading3: 1.3em;
@fontsizeheading4: 1.0em;

/* Define some extra onedark colors */
@lightcolor: #dcdfe4;
@greencolor: #98c379;
@redcolor: #e06c75;
@yellowcolor: #e5c07b;
@bluecolor: #61afef;

/* ---------------------- */
/* Configure reveal style */
/* ---------------------- */

.reveal {
  strong {
    color: @greencolor;
  }

  .print-pdf {
    section.present {
      height: 100%;
    }
  }

  // Centre the content for a slide. Put in a div that wraps the entire
  // slide. Must have another empty div inside it as well.
  .centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  // Class to put bottom text, like references, links, notes, etc.
  .bottom {
    p {
      font-size: @basefontsize * 0.85 !important;
      text-align: left;
      align-self: flex-end;
      margin: 0;
    }
  }

  // Displaying two columns. Wrap them in the container. Use either
  // col-left/right for 2 equal columns or col-large col-small for one larger
  // column.
  .container {
    display: flex;
    flex-wrap: wrap;
    img {
      width: 100%;
    }
  }
  .column {
    flex: 1;
  }
  .col-2 {
    flex: 2;
  }
  .col-3 {
    flex: 3;
  }
  .col-4 {
    flex: 4;
  }

  .slide-title {
    a {
      color: @lightcolor;
    }
    h1 {
      font-size: @fontsizeheading1 * 0.9;
      line-height: @fontsizeheading1 * 0.4;
      margin-bottom: @fontsizeheading1 * 0.3;
    }
    h2 {
      font-size: @fontsizeheading2 * 0.9;
      text-transform: none;
      font-weight: normal;
      margin-bottom: @fontsizeheading1 * 0.3;
    }
    p {
      font-size: @basefontsize * 0.8;
    }

    .logos {
      margin: 0 2%;
      justify-content: space-between;
      align-items: center;
      margin: 0 15%;

      .logo {
        flex: 1;
      }

      img {
        max-height: 100px;
        margin: 0 auto;
      }
    }
  }

  .slide-license {
    .license-icons {
      font-size: @basefontsize * 2;
      i {
        margin-right: 5px;
      }
    }
  }
}
